GOOGLE_API_KEY=  # This is a placeholder for the Google API key
GOOGLE_GENAI_USE_VERTEXAI= # Set to 1 to use Vertex AI else 0
SERVICE_BOT_HOST= # This is the host for the service bot API
SERVICE_BOT_PORT= # Port for the service bot API

AUTH_SECRET_KEY= # Secret key for authentication
AUTH_ALGORITHM= # Algorithm used for authentication

PAYMENT_API_URL= # URL for the payment API
TELEGRAM_BOT_TOKEN=
